.App {
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  margin-top: 7%;
}

.username :hover {
  color:coral;
}

.container {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.header {
  position:absolute;
  margin-top: 7%;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 45%;
  height: 8%;
  background-color: black;
}

.headerLogo {
  color: white;
  align-items: center;
  justify-content: center;
}

.searchField {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:100%;
  margin: auto;
}

.searchBox {
  position:absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:25%;
  padding: .25rem;
  outline: none;
}

.searchButton {
  position:absolute;
  top: 25%;
  left: 65%;
  width: 65px;
  transform: translate(-50%, -50%);
  padding: .25rem;
  cursor: pointer;
}

.searchResultContainer {
  display: flex;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 300px;
  width: 300px;
  margin: auto;
  place-items: center;
  opacity: 0%;
}

.icons {
  display:flex;
  position: absolute;
  top:35%;
  left:50%;
  transform: translate(-50%,-50%);
  height: 120px;
  width: 120px;
  border-style: double;
  border-color: white;
}

.availability {
  display:flex;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.username {
  position: absolute;
  display:inline;
  width: 100%;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}

.expiration {
  display:inline;
  position:absolute;
  top:80%;
  left: 50%; 
  transform: translate(-50%,-50%);
  font-weight: bold;
}

.expirationDate {
  display: flex;
  position: absolute;
  top:90%;
  left:50%;
  width: 60%;
  transform: translate(-50%,-50%);
}

.level {
  display:flex;
  position: absolute;
  top: 68%;
  left:50%;
  transform: translate(-50%,-50%);
}

.claim-button {
  display: flex;
  position: absolute;
  top:115%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.claim-button:active {
  background-color: #004080;
}

.claim-button:hover {
  background-color: #0056b3;
}