.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display:flex;
  align-items: center;
  justify-content: center;
}

.header {
  position:absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 45%;
  height: 8%;
  background-color: #282c34;
}

.headerLogo {
  color: white;
  align-items: center;
  justify-content: center;
}

.searchBox {
  position:absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:25%;
}

.searchButton {
  position:absolute;
  top: 25%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.searchResultContainer {
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 400px;
  width: 400px;
  margin: auto;
  place-items: center;
}

.icons {
  display:flex;
  position: absolute;
  top:400%;
  left:50%;
  transform: translate(-50%,-50%);
  height: 120px;
  width: 120px;
}

.availability {
  display:flex;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: red;
}